{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="site-header">
			<div class="inner">
				{% block header %}
				<button aria-label="Menu" class="page-header-menu-button"><span class="burger"><span class="burger-top"></span> <span class="burger-middle"></span> <span class="burger-bottom"></span></span></button>
				<a href="{{site.url}}" class="logo" rel="home"><span>{{site.name}}</span></a>
				<p class="tagline">The Place to Bea</p>
					<nav class="primary">
						{% include "menu.twig" with {'items': main_menu.get_items} %}
					</nav>
				{% endblock %}
			</div>
		</header>

		<section id="content" role="main" class="outer-content">
			<div class="content-wrapper">
				{% if title %}<h1>{{title}}</h1>{% endif %}
				{% block content %}
					No content to display.
				{% endblock %}
			</div>
		</section>

	{% block footer %}
    <footer class="site-footer">
		{% include 'footer.twig' %}
    </footer>
 
    <script src="{{ site.theme.link }}/static/js/script.js"></script>

	{{ function('wp_footer') }}
	{% endblock %}
</body>
</html>
