{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<div class="article-content">
			<div class="article-body">
				{# <h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div> #}

			{% for content_block in post.meta('content_blocks') %}
				{% if content_block.acf_fc_layout == 'head_and_copy' %}
				<section class="head-n-copy {% if content_block.block_color %}{{ content_block.block_color }}{% endif %}{% if content_block.icon_gfx_left or content_block.icon_gfx_right %} gfx{% endif %}">
					<div class="content-wrapper">
						<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
						<div class="inner-wrapper">
							<div class="copy">{{ content_block.section_copy|wpautop }}</div>
							{% if content_block.icon_gfx_left or content_block.icon_gfx_right %}
							<div class="icon-gfx gfx-left">{% if content_block.icon_gfx_left %}<img src="{{ Image(content_block.icon_gfx_left).src }}">{% endif %}</div>
							<div class="icon-gfx gfx-right">{% if content_block.icon_gfx_right %}<img src="{{ Image(content_block.icon_gfx_right).src }}">{% endif %}</div>
							{% endif %}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'image_wide' %}
				<section class="image-wide">
					<div class="content-wrapper">
					{% if content_block.image %}<img src="{{ Image(content_block.image).src }}">{% endif %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'image_cta' %}
				<section class="image-cta">
					<div class="content-wrapper">
						{% if content_block.image %}<img src="{{ Image(content_block.image).src }}">{% endif %}
						<a class="cta-btn" href="{{ content_block.cta_link }}">{{ content_block.cta_label }}</a>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'video_block' %}
				<section class="video-block">
					<div class="content-wrapper">
						<video controls preload="none" poster="{{ Image(content_block.video_poster_image).src() }}">
                    	<source src="{{ content_block.video_h264 }}" type="video/mp4">
                    	<source src="{{ content_block.video_webm }}" type="video/webm">
	                	</video>
					
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'images_1_1' %}
				<section class="images-1-1">
					<div class="content-wrapper">
					{% for item in content_block.images %}
						<img src="{{ Image(item.image).src() }}">
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'images_1_1_1' %}
				<section class="images-1-1-1">
					<div class="content-wrapper">
					{% for item in content_block.images %}
						<img src="{{ Image(item.image).src() }}">
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'images_2_1' %}
				<section class="images-2-1">
					<div class="content-wrapper">
					{% for item in content_block.images %}
						<img src="{{ Image(item.image).src() }}">
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'striped_frame' %}
				<section class="striped-frame {% if content_block.block_color %}{{ content_block.block_color }}{% endif %}">
					<div class="content-wrapper">
						<h2 class="sub-headline">{{ content_block.section_subheadline|nl2br }}</h2>
						<h3 class="section-headline">{{ content_block.section_headline|nl2br }}</h3>
						<div class="copy">{{ content_block.section_copy|wpautop }}</div>
						{% if content_block.cta_link and content_block.cta_label %}
						<a class="cta-btn" href="{{ content_block.cta_link }}">{{ content_block.cta_label }}</a>
						{% endif %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'striped_frame_headline' %}
				<section class="striped-frame-headline">
					<div class="content-wrapper">
						<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'must_see' %}
				<section class="must-see {% if content_block.block_color %}{{ content_block.block_color }}{% endif %}">
					<div class="content-wrapper">
						<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
						<div class="copy">
							<ul>
							{% for item in content_block.section_items %}
								<li {% if item.insider_tip == 'yes' %}class="insider-tip"{% endif %}>{{ item.item|nl2br }}</li>
							{% endfor %}
							</ul>
						{% if content_block.icon_gfx %}<div class="icon-gfx"><img src="{{ Image(content_block.icon_gfx).src }}"></div>{% endif %}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'destination_spotlight' %}
				<section class="destination-spotlight">
					<div class="content-wrapper">
						<h2 class="sub-headline">{{ content_block.section_subheadline|nl2br }}</h2>
						<h3 class="section-headline">{{ content_block.section_headline|nl2br }}</h3>
						<div class="copy">
							<div class="col col-1">
								{{ content_block.section_copy|wpautop }}
							</div>
							<div class="col col-2">
								{{ content_block.section_copy_2|wpautop }}
								{% if content_block.image %}<img src="{{ Image(content_block.image).src() }}">{% endif %}
							</div>
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'our_journey' %}
				<section class="journey">
					<div class="content-wrapper">
						<h2 class="sub-headline">{{ content_block.section_headline|nl2br }}</h2>
						<div class="copy">
							<div class="col col-1">
								{{ content_block.section_copy|wpautop }}
							</div>
							<div class="col col-2">
								{{ content_block.section_copy_2|wpautop }}
								{% if content_block.image %}<img src="{{ Image(content_block.image).src() }}">{% endif %}
							</div>
						</div>
						</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'home_hero' %}
				<section class="home-hero">
					<div class="content-wrapper">
						<div class="col col-1">
							<div class="image"><img src="{{ Image(content_block.image_left).src }}"></div>
						</div>
						<div class="col col-2">
							{%if content_block.image_right_header %}
							<div class="image"><img src="{{ Image(content_block.image_right_header).src }}"></div>
							{% endif %}
							<div class="doit">
							{% for thing in content_block.things_to_do %}
							{% if loop.first %}
							<h2 id="thing" class="doit section-headline">{{ thing.text }}</h2>
							{% endif %}
							{% endfor %}
								<script>
								var things = [
								{% for thing in content_block.things_to_do %}
								" {{ thing.text }}",
								{% endfor %}
								];
								var count = 0;
								var headline = document.getElementById('thing');
								changeThing(); // Call the changeWord function
								setInterval(changeThing, 3000); // Call it every 3 seconds

								function changeThing() {
									var current_thing = things[count];
									console.log(current_thing);
									headline.innerHTML = current_thing;
									count++;
									if (count == things.length) { count = 0; }
								}
								</script>
							</div>
							{%if content_block.image_right_footer %}
							<div class="image"><img src="{{ Image(content_block.image_right_footer).src }}"></div>
							{% endif %}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'photo_text' %}
				<section class="photo-text">
					<div class="content-wrapper">
						<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
						<div class="inner-wrapper">
							<div class="photo"><img src="{{ Image(content_block.image).src }}"></div>
							<div class="copy">
							{{ content_block.section_copy|wpautop }}
							{% if content_block.cta_link and content_block.cta_label %}
								<a class="cta-btn" href="{{ content_block.cta_link }}">{{ content_block.cta_label }}</a>
							{% endif %}
							{% if content_block.icon_gfx %}<div class="icon-gfx"><img src="{{ Image(content_block.icon_gfx).src }}"></div>{% endif %}
						</div>
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'amenities' %}
				<section class="amenities">
					<div class="content-wrapper">
					{% if options.amenities_headline %}<h2 class="section-headline">{{ options.amenities_headline }}</h2>{% endif %}
						<div class="inner-wrapper">
						{% for amenity in options.amenities %}
							{% if amenity.amenity_url %}<a href="{{  amenity.amenity_url }}">{% endif %}
							<img src="{{ Image(amenity.amenety_image).src() }}">
							{% if amenity.amenity_url %}</a>{% endif %}
						{% endfor %}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'space' %}
				<section class="the-space">
					<div class="content-wrapper">
					{% if options.space_headline %}<h2 class="section-headline">{{ options.space_headline }}</h2>{% endif %}
					<div class="inner-wrapper">
					{% for space in options.spaces %}
						<div class="space">
							<h4>{{ space.label|nl2br }}</h4>
							<img src="{{ Image(space.image).src() }}">
						</div>
					{% endfor %}
					</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'contact_form' %}
				<section class="contact-form" id="form">
					<div class="content-wrapper">
						<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
						<div class="copy">
						{% if content_block.section_copy %}
						{{ content_block.section_copy|wpautop }}
						{% endif %}
						{% if content_block.contact_form %}
						<div class="form">{{content_block.contact_form|shortcodes}}</div>
						{% endif %}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'social_feed' %}
				<section class="social-feed">
					<div class="content-wrapper">
					{% if options.social_feed_headline %}<h2 class="section-headline">{{ options.social_feed_headline }}</h2>{% endif %}
					{{ options.social_feed_shortcode|shortcodes }}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'horiz_space' %}
				<section class="horiz-space"></section>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}
