{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-content">
			<div class="content-wrapper">
				<div class="article-body">
					<div class="text">
						<h1 class="article-h1">{{post.headline}}</h1>
						<div class="form">{{post.contact_form|shortcodes}}</div>
						<div class="addl">
							<div class="copy">{{ post.additional_text | wpautop }}</div>
							<div class="image"><img src="{{ Image(post.map_point_graphic).src() }}"></div>
						</div>
					</div>
					<div class="map-embed">
						{{post.map_shortcode|shortcodes}}
						<div class="hours">
						<h2 class="article-h1">{{post.hours_headline}}</h2>
							<div class="blocks">
							{% for block in  post.meta('hours_blocks') %}
								<div class="block">
									<h4>{{ block.header | nl2br }}</h4>
									{{ block.copy | wpautop }}
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
{% endblock %}

