{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<div class="article-content">
			<div class="article-body">
				{# <h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div> #}

			{% for content_block in post.meta('content_blocks') %}
				{% if content_block.acf_fc_layout == 'head_and_copy' %}
				<section class="head-n-copy {% if content_block.block_color %}{{ content_block.block_color }}{% endif %}">
					<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
					<div class="copy">{{ content_block.section_copy|wpautop }}</div>
					{% if content_block.icon_gfx_left or content_block.icon_gfx_right %}
					<div class="icon-gfx gfx-left">{% if content_block.icon_gfx_left %}<img src="{{ Image(content_block.icon_gfx_left).src }}">{% endif %}</div>
					<div class="icon-gfx gfx-right">{% if content_block.icon_gfx_right %}<img src="{{ Image(content_block.icon_gfx_right).src }}">{% endif %}</div>
					{% endif %}
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'image_wide' %}
				<section class="image-wide">
					{% if content_block.image %}<img src="{{ Image(content_block.image).src }}">{% endif %}
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'image_cta' %}
				<section class="image-cta">
					{% if content_block.image %}<img src="{{ Image(content_block.image).src }}">{% endif %}
					<a href="{{ content_block.cta_link }}">{{ content_block.cta_label }}</a>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'images_1_1' %}
				<section class="image-1-1">
					<div class="inner">
					{% for item in content_block.images -%}
						<img src="{{ Image(item.image).src() }}">
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'images_1_1_1' %}
				<section class="image-1-1-1">
					<div class="inner">
					{% for item in content_block.images -%}
						<img src="{{ Image(item.image).src() }}">
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'images_2_1' %}
				<section class="image-2-1">
					<div class="inner">
					{% for item in content_block.images -%}
						<img src="{{ Image(item.image).src() }}">
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'striped_frame' %}
				<section class="striped-frame {% if content_block.block_color %}{{ content_block.block_color }}{% endif %}">
					<h2 class="sub-headline">{{ content_block.section_headsubline|nl2br }}</h2>
					<h3 class="section-headline">{{ content_block.section_headline|nl2br }}</h3>
					<div class="copy">{{ content_block.section_copy|wpautop }}</div>
					{% if content_block.cta_link and content_block.cta_label %}
					<a href="{{ content_block.cta_link }}">{{ content_block.cta_label }}</a>
					{% endif %}
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'striped_frame_headline' %}
				<section class="striped-frame-headline">
					<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'must_see' %}
				<section class="striped-frame {% if content_block.block_color %}{{ content_block.block_color }}{% endif %}">
					<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
					<div class="copy">
						<ul>
						{% for item in content_block.section_items %}
							<li {% if item.insider_tip == 'yes' %}class="insider-tip"{% endif %}>{{ item.item|nl2br }}</li>
						{% endfor %}
						</ul>
					</div>
					{% if content_block.icon_gfx %}<div class="icon-gfx"><img src="{{ Image(content_block.icon_gfx).src }}"></div>{% endif %}
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'destination_spotlight' %}
				<section class="destination-spotlight">
					<h2 class="sub-headline">{{ content_block.section_headsubline|nl2br }}</h2>
					<h3 class="section-headline">{{ content_block.section_headline|nl2br }}</h3>
					<div class="copy">
						<div class="col col-1">
							{{ content_block.section_copy|wpautop }}
						</div>
						<div class="col col-2">
							{{ content_block.section_copy_2|wpautop }}
							{% if content_block.image %}<img src="{{ Image(content_block.image).src() }}">{% endif %}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'our_journey' %}
				<section class="journey">
					<h3 class="sub-headline">{{ content_block.section_headline|nl2br }}</h3>
					<div class="copy">
						<div class="col col-1">
							{{ content_block.section_copy|wpautop }}
						</div>
						<div class="col col-2">
							{{ content_block.section_copy_2|wpautop }}
							{% if content_block.image %}<img src="{{ Image(content_block.image).src() }}">{% endif %}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'home_hero' %}
				<section class="home-hero">
					<div class="inner">
						<div class="image"><img src="{{ Image(content_block.image_left).src }}"></div>
						<div class="image"><img src="{{ Image(content_block.image_right).src }}"></div>
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'photo_text' %}
				<section class="photo-text">
					<h2 class="section-headline">{{ content_block.section_headline|nl2br }}</h2>
					<div class="photo"><img src="{{ Image(content_block.image).src }}"></div>
					<div class="copy">
					{{ content_block.section_copy|wpautop }}
					{% if content_block.cta_link and content_block.cta_label %}
						<a href="{{ content_block.cta_link }}">{{ content_block.cta_label }}</a>
					{% endif %}
					{% if content_block.icon_gfx %}<div class="icon-gfx"><img src="{{ Image(content_block.icon_gfx).src }}"></div>{% endif %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'amenities' %}
				<section class="amenities">
					<div class="inner">
					{% if options.amenities_headline %}<h2 class="section-headline">{{ options.amenities_headline }}</h2>{% endif %}
					{% for amenity in options.amenities %}
						<img src="{{ Image(amenity.amenety_image).src() }}">
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'space' %}
				<section class="the-space">
					<div class="inner">
					{% if options.amenities_headline %}<h2 class="section-headline">{{ options.space_headline }}</h2>{% endif %}
					{% for space in options.spaces -%}
						<div class="space">
							<h4>{{ space.label|nl2br }}</h4>
							<img src="{{ Image(space.image).src() }}">
						</div>
					{% endfor %}
					</div>
				</section>
				{% endif %}
				{% if content_block.acf_fc_layout == 'social_feed' %}
				<section class="social-feed">
					<div class="inner">
					{% if options.social_feed_headline %}<h2 class="section-headline">{{ options.social_feed_headline }}</h2>{% endif %}
					{{ options.social_feed_shortcode|shortcodes }}
					</div>
				</section>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}


{# 
{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %} #}